*{
    margin  : 0;
    padding : 0;
    -webkit-overflow-scrolling: touch; // 是否使用滚动回弹效果
}

html{
    height                     : 100%;
    -webkit-user-select        : none;
    user-select                : none;
    -webkit-touch-callout      : none;
    -webkit-overflow-scrolling : touch;
}

body{
    height           : 100%;
    background-color : @base-background-color;
    font-size        : 16px;
}

#root{
    height : 100%;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar{
    height     : 5px;
    width      : 5px;
}

::-webkit-scrollbar-thumb{
    -webkit-border-radius : 1ex;
}

::-webkit-scrollbar-corner{
}

ul, li{
    list-style : none;
}

a{
    text-decoration : none;
}

img{
    vertical-align : middle;
}

/* text ellipsis */
.long-text-ellipsis{
    display       : inline-block;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
}

.flex-inline{
    display     : flex;
    align-items : center;
}

.flex-list{
    display: flex;
    flex-direction: column;
}

.display-none{
    display: none;
}

@media screen and (orientation: portrait) {
    /*竖屏...*/
}
@media screen and (orientation: landscape) {
    /*横屏...*/
}
