.bpi-time{
    background-color : #fff;
    text-align       : center;
    font-weight      : 700;
    line-height      : 44px;
    height           : 44px;
    position         : relative;

}

.test{
    backdrop-filter : blur(2px);
    position : absolute;
    left: 400px;
    width : 20px;
    height: 44px;
}
